<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
    <div>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" routerLink="/dashboard">Home</li>
                <li routerLinkActive="active" routerLink="/list-user">Users</li>
                <li routerLinkActive="active" routerLink="/login">Login</li>
                <li routerLinkActive="active" routerLink="/create-user">Register</li>
            </ul>
        </nav>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
    
</div>